{
    "presets": ["@babel/preset-env", "@babel/flow", "@babel/preset-react"],
    "plugins": [
      "@babel/plugin-proposal-object-rest-spread",
      "add-module-exports",
      "@babel/transform-runtime"
    ]
  }